body{
  background-color: #1E1E1E;
}

h1{
  color: yellow;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 700;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 100px;
}
